/* .container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 3rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 70px;
  text-align: center;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  color: #434343;
  font-weight: 600;
}

.category {
  color: black;
  font-size: 26px;
}

.grid {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 700px;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
} */

/* .main h1:not(:first-child) {
  align-self: flex-start;
}

.card {
  text-align: left;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 340px;
  margin: 0.25rem;
}

.card:hover,
.card:focus,
.card:active {
  box-shadow: 0px 5px 14px 1px #eaeaea;
} */

/* .card h2 {
  margin: 10 0 1rem 0;
  font-size: 1.5rem;
  color: #3461f4;
}

.card h3 {
  margin: 10px 0 10px 0;
  color: #676767;
  font-weight: 400;
  font-size: 18px;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.card li {
  margin: 0;
  padding: 0;
} */

/* .header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 48px;
  align-items: center;
  background: white;
  border-bottom: 1px solid #eaeaea;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
} */

/* .content {
  padding: 1rem;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
} */

/* @media (max-width: 750px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .card {
    width: 100%;
    margin: auto;
    flex-direction: column;
    margin: 0.5rem 0 0.5rem 0;
  }
} */
