.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
}

.footer {
  height: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(240, 240, 240);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem 0 1rem 0;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.grid {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 700px;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.banner {
  /* margin: 50px 0 0 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */

  /* background-color: #06236f; */
  margin: 50px 0 0 0;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* color: white; */
  /* box-shadow: inset 1px 3px 20px 0px black; */
}

.banner h1 {
  margin: 1rem 0 0 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

@media (max-width: 700px) {
  .banner h1 {
    font-size: 3rem;
  }
}

.banner p {
  margin: 1rem 0 1rem 0;
  line-height: 1.15;
  font-size: 1.25rem;
}

@media (max-width: 700px) {
  .banner p {
    line-height: 2.55rem;
    font-size: 1rem;
  }
}

.pageContainer {
  position: relative;
  min-height: 95vh;
}

.contentWrap {
  padding-bottom: 150px; /* Footer height */
}

.container {
  background: white;
  margin: 0px;
  padding: 5px;
}

.container img {
  margin: 1rem 0 1rem 0;
}

.container p,
.container li {
  max-width: 800px;
  margin: auto;
}

.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
  max-width: 800px;
  margin: 1rem auto 1rem auto;
  text-align: left;
}

.container li {
  margin: 1.5rem auto 0.5rem auto;
}

/* 
.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  color: #434343;
  font-weight: 600;
}

.category {
  color: black;
  font-size: 26px;
}

*/

/* .main h1:not(:first-child) {
  align-self: flex-start;
}



*/

.card a h2 {
  font-size: 1.5rem;
  color: #3461f4;
  text-decoration: none;
  margin-left: 1rem;
}

.card h3 {
  margin: 10px 0 10px 0;
  color: #676767;
  font-weight: 400;
  font-size: 18px;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.card li {
  margin: 0;
  padding: 0;
}

.content {
  padding: 1rem;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 700px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .card {
    width: 100% !important;
    margin: auto;
    flex-direction: column;
    margin: 0.5rem 0 0.5rem 0;
  }
}

.card {
  text-align: left;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 340px;
  margin: 0.25rem;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 48px;
  align-items: center;
  background: white;
  border-bottom: 1px solid #eaeaea;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}

.grid {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 800px;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card:hover,
.card:focus,
.card:active {
  box-shadow: 0px 5px 14px 1px #eaeaea;
}
